/*Universal Styles*/
body {
font-size: 16px;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: azure;
}

header {
   width: 100%;
   position: static;
   z-index: 1;
   height: 64px; 
}

header img {
    height: 32px;
    padding: 32px 24px;
}
nav {
    text-align: right;
    flex-grow: 1;
}
nav span {
    display: inline-block;
    justify-content: space-between 16px;
    padding-right: 24 px;
}
img .container-main-banner {
    background-image: url('resources/images/banner.jpg');
    background-position: left;
    padding: 32px 24px;
    width: 60%;
    height: auto;
}
.container-thesis-exhibit{
    display: flex;
}
video thesis-exhibit-exhibit{
    display: inline-block;
    width: 60%
}
.thesis-exhibit-descriptor{
    width: 40%;
}
footer {
    display: inline-block;
}