/*Universal Styles*/
body {
font-size: 16px;
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(210, 219, 219);
text-align: center;
}

a {
    color:deepskyblue;
}

h1 {
    margin: 0;
    padding: 32px 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
   width: 100%;
   position: static;
   z-index: 1;
   height: 64px;
   display: inline-flex;
}

header img {
    height: 32px;
    padding: 32px 24px;
}
nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 24px;
}
nav span {
    display: inline-block;
    justify-content: space-between 16px;
    padding-right: 24 px;
}
img .container-main-banner {
    background-image: url('resources/images/banner.jpg');
    background-position: center;
    position:fixed;
    padding: 32px 24px;
    width: 60%;
    height: auto;
    display: block;
    clear: left;
}
.container-main-banner {
    background-color: lightgrey;
    display: inline-table;
}

/* Courses */


#container-learning {
    display: inline-flexbox;
    flex-direction: row;
    justify-content: center;

}

#startlearning {
    padding: 32px

}
.courses {
     opacity: 1;
        padding: 10px;
        margin: 5px 20px;
        background-color: azure;
        flex-basis: auto;
    
        display: inline-flexbox;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
}

.container-thesis-exhibit{
    display: flex;
}
video thesis-exhibit-exhibit{
    display: inline-block;
    width: 60%
}
.thesis-exhibit-descriptor{
    width: 40%;
}
footer {
    display: inline-block;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}