/*Universal Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-size: 16px;
font-family: 'Montserrat', 'Roboto Slab', sans-serif;
color: black;
background-color: rgb(209, 200, 185);
}

/*Navigation Bar*/
header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    z-index: 3;
    height: 4rem;
    background-color:rgb(147, 151, 150);
    align-items:flex-end;
}

#colmar {
 color:black
}
#academy {
  color: rgba(196, 196, 196, 0.5)
}

#logo{
 height: 3rem;
 width: auto;
 padding-left: 1.5rem;
}


header .mobile {
    display: none;
}
nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    align-items: flex-end;
    display: inline;
    justify-content: space-between, 1rem;
    padding-right: 1.5rem;
}

/*Main Area*/
 
.learn {
    padding-left: 1.5rem;
}
#banner{
    background-position: left;
    padding: 2rem, 1.5rem;
    width: 60%;
    height: auto;
    display: block;;
}
.firstcontent {
    background-color: lightgrey;
    display: block;
    float: left;
    width: 100%;
}

.container-main-banner #start{
    padding: 8px;
}
.container-thesis-exhibit{
    display: flex;
}
video thesis-exhibit-exhibit{
    display: inline-block;
    width: 60%
}
.thesis-exhibit-descriptor{
    width: 40%;
}
footer {
    display: inline-block;
}

@media only screen and (max-width: 720px) {
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}